.pytest*
.vscode
app/__pycache__
__pycache__
app/logs
*.env
python.idea/
.vscode
.venv
*.tar
**/test/mlruns*
samples/
*.db
*.csv
*.xml
vendor
web/templates/dist/tabulator/css/tabulator_bootstrap3.css
web/templates/dist/tabulator/css/tabulator_bootstrap3.css.map
web/templates/dist/tabulator/css/tabulator_bootstrap3.min.css
web/templates/dist/tabulator/css/tabulator_bootstrap3.min.css.map
web/templates/dist/tabulator/css/tabulator_bootstrap4.css
web/templates/dist/tabulator/css/tabulator_bootstrap4.css.map
web/templates/dist/tabulator/css/tabulator_bootstrap4.min.css
web/templates/dist/tabulator/css/tabulator_bootstrap4.min.css.map
web/templates/dist/tabulator/css/tabulator_bootstrap5.css
web/templates/dist/tabulator/css/tabulator_bootstrap5.css.map
web/templates/dist/tabulator/css/tabulator_bootstrap5.min.css
web/templates/dist/tabulator/css/tabulator_bootstrap5.min.css.map
web/templates/dist/tabulator/css/tabulator_bulma.css
web/templates/dist/tabulator/css/tabulator_bulma.css.map
web/templates/dist/tabulator/css/tabulator_bulma.min.css
web/templates/dist/tabulator/css/tabulator_bulma.min.css.map
web/templates/dist/tabulator/css/tabulator_materialize.css
web/templates/dist/tabulator/css/tabulator_materialize.css.map
web/templates/dist/tabulator/css/tabulator_materialize.min.css
web/templates/dist/tabulator/css/tabulator_materialize.min.css.map
web/templates/dist/tabulator/css/tabulator_midnight.css
web/templates/dist/tabulator/css/tabulator_midnight.css.map
web/templates/dist/tabulator/css/tabulator_midnight.min.css
web/templates/dist/tabulator/css/tabulator_midnight.min.css.map
web/templates/dist/tabulator/css/tabulator_modern.css
web/templates/dist/tabulator/css/tabulator_modern.css.map
web/templates/dist/tabulator/css/tabulator_modern.min.css
web/templates/dist/tabulator/css/tabulator_modern.min.css.map
web/templates/dist/tabulator/css/tabulator_semanticui.css
web/templates/dist/tabulator/css/tabulator_semanticui.css.map
web/templates/dist/tabulator/css/tabulator_semanticui.min.css
web/templates/dist/tabulator/css/tabulator_semanticui.min.css.map
web/templates/dist/tabulator/css/tabulator_simple.css
web/templates/dist/tabulator/css/tabulator_simple.css.map
web/templates/dist/tabulator/css/tabulator_simple.min.css
web/templates/dist/tabulator/css/tabulator_simple.min.css.map
web/templates/dist/tabulator/css/tabulator_site.css
web/templates/dist/tabulator/css/tabulator_site.css.map
web/templates/dist/tabulator/css/tabulator_site.min.css
web/templates/dist/tabulator/css/tabulator_site.min.css.map
web/templates/dist/tabulator/css/tabulator.css
web/templates/dist/tabulator/css/tabulator.css.map
web/templates/dist/tabulator/css/tabulator.min.css
web/templates/dist/tabulator/css/tabulator.min.css.map
web/templates/dist/tabulator/js/jquery_wrapper.js
web/templates/dist/tabulator/js/tabulator_esm.js
web/templates/dist/tabulator/js/tabulator_esm.js.map
web/templates/dist/tabulator/js/tabulator_esm.min.js
web/templates/dist/tabulator/js/tabulator_esm.min.js.map
web/templates/dist/tabulator/js/tabulator.js
web/templates/dist/tabulator/js/tabulator.js.map
web/templates/dist/tabulator/js/tabulator.min.js
web/templates/dist/tabulator/js/tabulator.min.js.map
web/templates/dist/kendo/js/jszip.min.js
web/templates/dist/kendo/js/kendo.all.min.js
web/templates/dist/kendo/js/kendo.culture.ru-RU.min.js
web/templates/dist/luxon/js/luxon.js
